body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
  margin: 0;
  padding: 0;
}

h1 {
  color: #8b123a;
}

.space {
  margin-bottom: 20px;
}

.container {
  height: 100vh;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #8b123a;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #8b123a;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input {
  margin: 5px;
}
